<h1 style="color: red">Welcome to easy land</h1>
<p>Confirm your registration and be ready for the magic!</p>
<p style="text-decoration: underlined">Activation code: <%= user.confirmation %></p>
<p style="text-decoration: underlined"><a href="http://localhost:8080/api/v1/auth/confirm?code=<%= user.confirmation %>&id=<%= user.id %>">Activate</a></p>

